---
import { Box } from "styled-system/jsx";
import { container } from "styled-system/patterns";
import { Heading } from "~/components/ui/heading";
import OjisanContainer from "~/components/ui/OjisanContainer.astro";
import { Text } from "~/components/ui/text";
import NoriapiLayout from "~/layouts/Noriapi.astro";
import { fancyTextStyles } from "~/styles/fancy-text";
---

<NoriapiLayout>
  <Fragment slot="head">
    <title>404 | noriapiのホーム</title>
    <meta
      name="description"
      content="noriapiのホームページですが、ページが見つかりません。"
    />
  </Fragment>

  <main class={container({ maxWidth: "6xl" })}>
    <Box mt="10" textAlign="center">
      <OjisanContainer css={{ mb: "2" }}>
        <Heading as="h1" fontSize="9xl" mr="5" css={fancyTextStyles}>
          404
        </Heading>
      </OjisanContainer>

      <Text>ページが見つかりませんでした。</Text>
    </Box>
  </main>
</NoriapiLayout>
