---
import { css } from "styled-system/css";
import { Box, HStack } from "styled-system/jsx";
import { container } from "styled-system/patterns";
import { Heading } from "~/components/ui/heading";
import { Text } from "~/components/ui/text";
import { Kbd } from "~/components/ui/kbd";
import { Link } from "~/components/ui/link";
import NoAltWinMenuLayout from "~/layouts/NoAltWinMenu.astro";
import Img from "~/components/ui/Img.astro";

import icon from "~/assets/images/no-alt-win-menu.png";
import heroAlt from "~/assets/images/no-alt-win-menu-alt-ja.png";
import heroWin from "~/assets/images/no-alt-win-menu-win-ja.png";
---

<NoAltWinMenuLayout>
  <Fragment slot="head">
    <title>No Alt Win Menu ― メニュー表示させないアプリ</title>
    <meta
      name="description"
      content="AltキーやWinキーを離したときにメニューを表示させないアプリ、No Alt Win Menuの紹介。"
    />
    <script
      is:inline
      type="module"
      src="https://get.microsoft.com/badge/ms-store-badge.bundled.js"></script>
  </Fragment>
  <main class={container({ maxWidth: "6xl" })}>
    <Box mt="10">
      <HStack>
        <Img alt="No Alt Win Menu icon" src={icon} width="80" />

        <div>
          <Heading as="h1" size="5xl"> No Alt Win Menu </Heading>
          <Text>AltキーやWinキーを離したときにメニューを表示させないアプリ</Text
          >
        </div>
      </HStack>
    </Box>

    <HStack overflow="scroll" width="full" my="16">
      <Img
        src={heroAlt}
        alt="alt"
        height="300"
        class={css({
          objectFit: "contain",
          borderRadius: "l3",
        })}
      />

      <Img
        src={heroWin}
        alt="win"
        height="300"
        densities={[1.5, 2]}
        class={css({
          objectFit: "contain",
          borderRadius: "l3",
        })}
      />
    </HStack>

    <section class={css({ my: "10" })}>
      <Heading as="h2" size="xl"> ダウンロード </Heading>
      <HStack justifyContent="center" mt="1">
        <ms-store-badge
          productid="9NBHXKQ70QCK"
          productname="No Alt Win Menu"
          window-mode="direct"
          theme="auto"
          language="ja"
        >
        </ms-store-badge>
      </HStack>
    </section>

    <section class={css({ my: "10" })}>
      <Heading as="h2" size="xl" mb="3"> 主な機能 </Heading>

      <ul class={css({ listStyleType: "disc", listStylePosition: "inside" })}>
        <li class={css({ my: "2" })}>
          <Kbd size="lg">Alt</Kbd>キーを離したときにメニューを出させない
        </li>
        <li class={css({ my: "2" })}>
          <Kbd size="lg">Win</Kbd>
          キーを離したときにスタートメニューを出させない
        </li>
        <li class={css({ my: "2" })}>
          <Text as="em" fontWeight="semibold"> 特定のアプリで </Text>
          だけメニュー表示を抑制
        </li>
        <li class={css({ my: "2" })}>
          <Text as="em" fontWeight="semibold"> 長押し </Text>
          したときだけメニュー表示を抑制
        </li>
      </ul>
    </section>

    <Link href="/no-alt-win-menu/privacy">プライバシーポリシー</Link>
  </main>
</NoAltWinMenuLayout>
