---
import { css } from "styled-system/css";
import NoAltWinMenuLayout from "./NoAltWinMenu.astro";
import type { MarkdownLayoutProps } from "astro";
import { Container } from "styled-system/jsx";
import AlternateLangs from "~/components/meta/AlternateLangs.astro";
import LanguageLinks from "~/components/ui/LanguageLinks.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
}>;

const { frontmatter } = Astro.props;

const path = "no-alt-win-menu/privacy";
---

<NoAltWinMenuLayout>
  <Fragment slot="head">
    <title>{frontmatter.title}</title>
    <meta name="description" content={frontmatter.description} />
    <AlternateLangs path={path} />
  </Fragment>
  <Container maxWidth="6xl">
    <LanguageLinks path={path} />
    <main class={css({ maxWidth: "4xl" })}>
      <article class={css({ my: "5" })}>
        <slot />
      </article>
    </main>
  </Container>
</NoAltWinMenuLayout>
