---
import { css } from "styled-system/css";
import NoAltWinMenuLayout from "./NoAltWinMenu.astro";
import type { MarkdownLayoutProps } from "astro";
import { Container } from "styled-system/jsx";
import AlternateLangs from "~/components/meta/AlternateLangs.astro";
import LanguageLinks from "~/components/ui/LanguageLinks.astro";
import { center } from "styled-system/patterns";
import { getLocale, translator } from "~/lib/i18n";
import { Link } from "~/components/ui/link";
import { getRelativeLocaleUrl } from "astro:i18n";

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
}>;

const { frontmatter } = Astro.props;

const path = "no-alt-win-menu/privacy";
const t = translator(Astro.currentLocale);
---

<NoAltWinMenuLayout>
  <Fragment slot="head">
    <title>{frontmatter.title}</title>
    <meta name="description" content={frontmatter.description} />
    <AlternateLangs path={path} />
  </Fragment>
  <Container maxWidth="6xl">
    <LanguageLinks path={path} />
    <main class={css({ maxWidth: "4xl" })}>
      <article class={css({ my: "5" })}>
        <slot />
      </article>
    </main>
    <footer class={center({ my: "10" })}>
      <Link
        href={getRelativeLocaleUrl(
          getLocale(Astro.currentLocale),
          "no-alt-win-menu",
        )}>{t({ ja: "戻る", en: "Back" })}</Link
      >
    </footer>
  </Container>
</NoAltWinMenuLayout>
