---
import "~/index.css";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <slot name="head" />
    <script is:inline>
      const e = localStorage.getItem("theme");
      (("auto" === e &&
        window.matchMedia("(prefers-color-scheme: dark)").matches) ||
        "dark" === e) &&
        document.documentElement.classList.add("dark");
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
