---
import { css } from "styled-system/css";
import { Container, Divider, HStack } from "styled-system/jsx";
import { Link } from "./link";
import { ThemeSelect } from "./theme-select";

import ojisan from "~/assets/images/ojisan.png";
import Img from "./Img.astro";
import { circle, visuallyHidden } from "styled-system/patterns";

const linkProps = {
  textStyle: "xl",
  variant: "navbar",
} as const;
---

<nav
  class={css({
    position: "sticky",
    borderBottomWidth: "medium",
  })}
>
  <Container maxWidth="6xl">
    <HStack gap="10" minHeight="3rem" alignItems="stretch">
      <HStack flexGrow="1" alignItems="stretch">
        <Link {...linkProps} href="/no-alt-win-menu">No Alt Win Menu</Link>
      </HStack>
      <HStack alignItems="stretch" gap="3">
        <Link {...linkProps} href="/blog/" textStyle="md"> Blog </Link>
        <Link {...linkProps} href="/about" textStyle="md">
          <span class={visuallyHidden()}>About</span>
          <Img
            src={ojisan}
            alt="Noriapiのアイコン"
            width="30"
            height="30"
            class={circle()}
          />
        </Link>
        <Divider orientation="vertical" h="6" alignSelf="center" />
        <ThemeSelect client:load lang={Astro.currentLocale} />
      </HStack>
    </HStack>
  </Container>
</nav>
